.row
    .col-xs-4
        form(id="formSearch", name="formSearch" class="aor")
            h6 {{ 'header.title.Search' | translate }}
            .btn-group-alt
                input.form-control-alt(type="text",
                        id="search"
                        name="search")
                button.btn.btn-link
                    i.fa.fa-lg.fa-search
    .col-xs-8.right
        h6 &nbsp;
        //- h6.upper-title {{ 'header.title.Toolbar' | translate }}
        div(data-ui-view='header')
