.row
    .col-md-9
        h6.upper-title {{ 'header.title.Toolbar' | translate }}
        h3.main-title # Toolbar
    .col-md-3.right
        form(id="formSearch", name="formSearch" class="aor")
            h6 {{ 'header.title.Search' | translate }}
            .btn-group-alt
                input.form-control-alt(type="text",
                        id="search"
                        name="search")
                button.btn.btn-flat: i.mdi-action-search
