// *****************************************************************************
// Variables
// *****************************************************************************

// helper colors
$colorClear                 = rgba(0,0,0,0)
$colorWhite                 = #fefefe
$colorWhiteLight            = rgba(255, 255, 255, 0.01)
$colorBrighten1             = rgba(225, 225, 255, .1)
$colorBrighten2             = rgba(225, 225, 255, .2)
$colorBrighten3             = rgba(225, 225, 255, .3)
$colorErrorBg               = #840008
$colorErrorFg               = #FC1629

// full colors
$colorFontDefault           = #cfd2da
$colorFontHeading           = $colorWhite
$colorBackground            = #252830
$colorBackground1           = #303442
$colorBackground2           = #434857
$colorBackground3           = #545C7B
$colorPrimaryNormalBg       = #1ca8dd
$colorPrimaryNormalFg       = #252830
$colorPrimaryHoverBg        = #23B7FF
$colorPrimaryHoverFg        = $colorPrimaryNormalFg
$colorButtonSidebarNormalBg = $colorClear
$colorButtonSidebarNormalFg = $colorFontDefault
$colorButtonSidebarHoverBg  = #434857
$colorButtonSidebarHoverFg  = $colorFontDefault
$colorButtonSidebarActiveBg = $colorPrimaryNormalBg
$colorButtonSidebarActiveFg = $colorPrimaryNormalFg

// magins and paddings
$marginDefault  = 2rem
$paddingDefault = 2rem

// radius
$radiusDefault = 4px
