mixin header
    .row
        .col-md-9
            h6.upper-title {{ 'header.title.Toolbar' | translate }}
            div(data-ui-view='header')
        .col-md-3.right
            form(id="formSearch",
                    name="formSearch"
                    class="aor")
                h6 {{ 'header.title.Search' | translate }}
                .btn-group-alt
                    input.form-control-alt(type="text",
                            id="search"
                            name="search")
                    button.btn.btn-link
                        i.fa.fa-lg.fa-search


head
    base(href='/')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700', rel='stylesheet', type='text/css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    
body
    #container.container-fluid(data-ng-app='amw')
        main#main.row

            //- sidebar
            nav#sidebar.col-md-3(role='navigation', tabindex='-1')
                #sidebar-header.header(role='navigation-header')
                    include client/components/sidebar/sidebar-header.template.include.jade
                #sidebar-content(role='navigation-content')
                    div(data-ui-view='sidebar')

            //- article
            article#article.col-md-9(role='article', tabindex='-1')
                header#article-header.header(role='header')
                    include client/components/header/header.template.include.jade
                #article-content(role='content')
                    div(data-ui-view='content')

        footer#footer(role='footer')
            .footer(data-ng-include="'footer-static.template.html'")
