// *****************************************************************************
// Imports and requires
// *****************************************************************************

@import "../../includes/stylus/variables.styl"

// *****************************************************************************
// General
// *****************************************************************************

*
    font-weight normal
    outline none !important

html, body
    margin 0
    height 100%
    padding 0

h6
    margin-bottom 1rem !important

fieldset
    margin 2rem 0 .5rem 0
label
    font-weight normal
input[type="radio"], input[type="checkbox"]
    display inline
    height auto
    margin 0 .6rem 0 0
    width auto
input[type="radio"] + label, input[type="checkbox"] + label
    margin-right 3rem

// *****************************************************************************
// General classes
// *****************************************************************************

// Font styles
.striked
    text-decoration line-through
.lower
    text-transform lowercase

// Displays
.inline
    display inline
.block
    display block
.inline-block
    display inline-block

// Positions
.relative
    position relative
.absolute
    position absolute
.fixed
    position fixed

// Alignments
.left
    text-align left
.right
    text-align right
.center
    text-align center
.justify
    text-align justify
    
// Floats
.float-left
    float left
.float-right
    float right
.clear
    clear both

// Margins
.vmargin-half-rem
    height 0.5rem
.vmargin-1rem
    height 1rem
.vmargin-2rem
    height 2rem
.vmargin-3rem
    height 3rem
.vmargin-4rem
    height 4rem
.hmargin-half-rem, .hmargin-1rem, .hmargin-2rem, .hmargin-3rem, .hmargin-4rem
    height 1px
    float left
.hmargin-half-rem
    width .5rem
.hmargin-1rem
    width 1rem
.hmargin-2rem
    width 2rem
.hmargin-3rem
    width 3rem
.hmargin-4rem
    width 4rem
.no-margin
    margin 0
.no-margin-right
    margin-right 0
.no-margin-left
    margin-left 0
.no-margin-top
    margin-top 0
.no-margin-bottom
    margin-bottom 0
    
 // Paddings
.no-padding
    padding 0
.no-padding-right
    padding-right 0
.no-padding-left
    padding-left 0
.no-padding-top
    padding-top 0
.no-padding-bottom
    padding-bottom 0
.hpadding-1rem
    padding-left 1rem
    padding-right 1rem
.hpadding-2rem
    padding-left 2rem
    padding-right 2rem

// colors
.color-bg-2
    color $colorBackground2
    
// error messages
.errorField, .errorFieldEmpty
    font-weight normal
    height 3rem
    width 100%

// cursors
.pointer
    cursor pointer

// *****************************************************************************
// Bootstrap overrides
// *****************************************************************************

// *****************************************************************************
// Bootstrap extensions
// *****************************************************************************

// buttons
.btn-simple
    margin 0
    padding 0
.btn-simple:hover, .btn-simple.active
    text-decoration underline

// forms
label.form-control-alt
    margin 0
    padding 0
    text-transform uppercase
input.form-control-alt
    display block
    border none
    border-radius $radiusDefault
    padding .6rem 1.2rem
    width 100%

// form-button groups
.btn-group-alt
    position relative
    z-index 0
.btn-group-alt input
    position relative
    z-index 1
.btn-group-alt button
    position absolute
    top 0
    right 0
    z-index 2
    padding .3rem .4rem
    margin 0

// *****************************************************************************
// Layout
// *****************************************************************************

#container
    max-width 1600px
    min-height 100%
    padding 4rem 2rem
    position relative
#container-inner
    padding-bottom 120px
#footer
    bottom 0
    border-top 1px solid #dddddd
    height 120px
    margin-top 2*$paddingDefault
    padding-top $paddingDefault
    position absolute
    width 100%

.header
    height 10rem !important
    border-bottom 1px solid #dddddd
    margin-bottom 2*$paddingDefault
    padding-bottom $paddingDefault

// *****************************************************************************
// Sidebar
// *****************************************************************************

#sidebar .nav a
    display inline
    text-align left
#sidebar .nav a.active
    color #333333

#sidebar-header .badge
    border-radius 100px
    padding .8rem 1rem

// *****************************************************************************
// CodeMirror extension
// *****************************************************************************

.CodeMirror
    border-radius $radiusDefault
    border 1px solid #dddddd
