include client/lib/mixins/form.mixins.include.jade

//- ****************************************************************************

h2 {{ 'authentication.title.SignIn' | translate }}

form#form-sign-in.well(
        name="formSignIn",
        method="POST",
        data-ng-submit="vm.signIn()")
    
    .alert.alert-danger(data-ng-if="vm.objErrs.strSignIn")
        |{{ vm.objErrs.strSignIn | translate }}
    
    .row
        .col-sm-12
            +errorAlert('general')
    .row
        .col-sm-6
            fieldset
                +inputText('vm.objUser.strUsername', 'vm.objErrs.strUsername',
                        'authentication.Username', 'sign-in-email',
                        'signUpUsername', '', '110', 'vm.isInvalid(\'strUsername\')', true)
            .errorField
                +errorHandler('strUsername')
        .col-sm-6
            fieldset
                +inputPassword('vm.objUser.strPassword', 'vm.objErrs.strPassword',
                        'authentication.Password', 'sign-in-password',
                        'signUpPassword', '', '120', 'vm.isInvalid(\'strPassword\')', true)
            .errorField
                +errorHandler('strPassword')

    .row
        fieldset.col-xs-12.no-margin.right
            a.btn.btn-link(data-ui-sref="forgot-password")
                |{{ 'authentication.title.ForgotPassword' | translate }}
            button.btn.btn-primary(tabindex="1010")
                |{{ 'authentication.title.SignIn' | translate }}
                