h6(data-ng-bind="'navigation.title.Common' | translate")
.hpadding-2rem
    a(href="/wiki/page-list") All pages

.vmargin-1rem

h6(data-ng-bind="'navigation.title.Wiki' | translate")
.hpadding-2rem
    div(data-ng-bind-html="vm.objPageSidebar.content")