// *****************************************************************************
// Imports and requires
// *****************************************************************************

@import "../../includes/stylus/variables.styl"

// *****************************************************************************
// Sidebar
// *****************************************************************************

#sidebar a
    display inline
    text-align left
#sidebar a.active
    color $colorWhite

#sidebar-header, #article-header
    border-bottom 1px solid #434857
    margin-bottom 2*$paddingDefault
    min-height 8rem
#sidebar-header
    padding-left 2rem
#sidebar-header .badge
    border-radius 100px
    background-color $colorBackground2
    padding 1rem
#sidebar-header .username
    font-size 1.6rem

#sidebar-content h6
    margin 0
    padding 0 2rem
#sidebar-content .btn-primary:not(.btn-link):not(.btn-flat)
    background-color $colorButtonSidebarNormalBg
    border none
    box-shadow none !important
    color $colorButtonSidebarNormalFg
    display block
    margin 0 0 .2rem 0
    padding-left 2rem
    padding-right 2rem
    text-align left
    width 100%
    box-shadow none
#sidebar-content .btn-primary:not(.btn-link):not(.btn-flat):hover
    background-color $colorButtonSidebarHoverBg !important
    color $colorButtonSidebarHoverFg !important
    box-shadow none
#sidebar-content .btn-primary:not(.btn-link):not(.btn-flat).active
    background-color $colorButtonSidebarActiveBg
    color $colorButtonSidebarActiveFg
#sidebar-content .btn-primary:not(.btn-link):not(.btn-flat).active:hover
    background-color $colorPrimaryHoverBg !important
    color $colorPrimaryHoverFg !important
    
