h6 {{ 'navigation.title.Wiki' | translate }}
.nav.hpadding-2rem
    div(data-ng-bind-html="vm.objPageSidebar.content")
    hr
    a(tabindex="-1",
            title="All pages",
            data-ui-sref="pageList",
            data-ui-sref-active="active") All pages