// *****************************************************************************
// Sidebar
// *****************************************************************************

#sidenav-content a.md-button
    align-items inherit
    border-radius 0
    cursor pointer
    display block
    line-height 40px
    margin 0
    max-height 40px
    overflow hidden
    padding 0 16px
    text-align left
    text-decoration none
    white-space normal
    width 100%
